.comment-modal {
    height: 50%;
    border-radius: 10px;
    text-align: initial;
    overflow-y: hidden;
}

.c-modal_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 35px;
}

.c-modal_form {
    height: 100%;

    label {
        font-size: 1.8em;
    }
}

.c-modal_message {
    resize: none;
    width: 100%;
    height: 70%;
}

.c-modal_link {
    float: right;
    padding-top: 10px;
}

.c-modal_btn {
    border: none;
    background: none;
    float: right;

    &:hover {
        color: #777;
    }
}
