@media screen and (min-width: 851px) {
.global-flash{
    font-size: 1rem;
    color: #35b86b;
    border-radius: 0.5rem;
    padding: 0.5em 1.2em;
}
}
@media screen and (max-width: 850px) {
    .global-flash{
        color: #35b86b;
        border-radius: 0.5rem;
        padding: 0.5em 1.2em;
        margin-left: 27px;
    }
}